@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: theme('colors.white');
    transition-property: color;
    transition-duration: 300ms;
    mix-blend-mode: difference;
  }

  a:hover {
    color: theme('colors.hovercolor');
  }

  a.mix-blend-difference {
    color: theme('colors.white');
    transition-property: color;
    transition-duration: 300ms;
    mix-blend-mode: difference;
  }

  a.mix-blend-difference:hover {
    color: theme('colors.hovercolor');
  }
}

@layer utilities {
  body {
    min-width: 300px;
    min-height: 600px;
  }
  .open-sesame .mix-blend-difference {
    mix-blend-mode: normal !important;
    color: black !important;
  }
  .open-sesame .mix-blend-difference:hover {
    mix-blend-mode: normal !important;
    color: theme('colors.hovercolor');
  }
  .open-sesame .headwrap {
    z-index: 1000;
  }
  .open-sesame .headwrap button:hover, .open-sesame .headwrap li a:hover {
    color: #EEE444 !important
  }
}

@layer utilities {
    #pnav li:nth-child(2),
    #pnav li:nth-child(3) {
        @apply hidden custom660:flex;
    }

    #pnav li:nth-child(3) {
        margin-right: -17%;
    }

    #pnav li:nth-child(4) a {
        position: relative;
        top: 80%;
        @apply hidden custom660:inline-block;
    }

    #mobnav {
        @apply flex custom660:hidden;
    }

    #mobnav .inst a {
        @apply hidden;
    }

    #mobnav li:nth-child(1) {
      text-align: right;
    }
    .aspect-video > p {
      @apply w-full h-full m-0;
    }
    .aspect-video iframe {
      @apply w-full h-full;
    }

}

#pnav li.email,
#pnav li.phone {
  height: 30vh;
}

button.info {
  position: absolute;
    bottom: 50%;
    margin-bottom: -12px;
    font-size: 1.1rem !important;
}

.modal-content p {
  text-align: justify;
}

#mobnav ul li,
#pnav ul li, 
#mobnav ul button,
#pnav ul button {
  font-size: 0.8rem;
}

#mobnav ul li,
#pnav ul li {
  font-weight: 200;
}

#pnav li.email {
  margin-left: 7rem;
}

@media (max-width: 768px) {
  #wpadminbar {
    display: none !important;
  }

  html {
    margin-top: 0 !important;
  }
}

@media (max-height: 580px) and (orientation: landscape) {
  .branding {
    position: absolute;
  }
  .info {
    height: 200%;
  }
  #pnav li.phone a {
    position: absolute;
  }
  #pnav li:nth-child(1) {
    position: absolute;
    text-align: right;
    top: 80px;
  }
  #pnav li:nth-child(2) {
    position: absolute;
    top: 110px;
  }
  .headwrap {
    top: 40%;
    padding-left: 450px;
  }
}
