@tailwind base;
@tailwind components;
@tailwind utilities;

.form-field {
  margin: 1em 0;

  &.textarea {
    margin: 1em 0 0;
  }

  input,
  textarea {
    width: 100%;
    padding: 1em;
    border-radius: 0.3rem;
  }
}
